.best {
  background: url("../img/bg/best-bg.jpg") center center / cover no-repeat;
  &__list {
    display: flex;
    @include phones {
      flex-direction: column;
    }
  }
  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
  }
  &__pic-icon {
    margin-bottom: rem(34px);
  }
  &__desc {
    text-align: center;
  }
  &__title {
    font-family: "Lifehack", sans-serif;
    font-size: rem(24px);
    letter-spacing: rem(-0.6px);
  }
  &__text {
    line-height: 1.71;
    color: $black;
    opacity: 0.8;
    font-size: rem(14px);
  }
}

.meat,
.hand,
.natural {
  width: rem(100px);
  height: rem(100px);
}
