.btn {
  border-radius: rem(5px);
  padding: rem(10px) rem(15px);
  background: $orange;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: rem(13px);
  &--bg-black {
    background: $black;
  }
  &--submit {
    background: transparent;
    font-weight: 300;
    text-transform: none;
    font-size: rem(14px);
  }
}