.footer {
  height: 10%;
  background: url('../img/map-footer.jpg') center center / cover no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7%;
}