.form {
  color: #fff;
  display: flex;
  font-weight: 300;
  padding: 5%;
  @include tablets {
    flex-direction: column;
    padding: 15%;
  }
  @include phones {
    padding: 1%;
  }
  &__side {
    width: 50%;
    margin-right: rem(20px);
    &:last-child {
      margin-right: 0;
    }
    @include tablets {
      width: 100%;
      margin-right: 0;
    }
  }
  &__row {
    display: flex;
    margin-bottom: rem(20px);
    @include phones {
      justify-content: center;
      align-items: center;
    }
  }
  &__block {
    flex: 1;
    margin-right: rem(20px);
    &:last-child {
      margin-right: 0;
    }
    &-input {
      padding: rem(7px) rem(19px);
      outline: none;
      border-radius: rem(5px);
      width: 100%;
      border: solid 2px transparent;
      &:focus {
        border: solid rem(2px) $yellow;
      }
      &--textarea {
        resize: none;
      }
    }
  }
  &__radio {
    display: flex;
    user-select: none;
    align-items: center;
    margin-right: rem(20px);
    &-real {
      display: none;
      &:checked {
        ~ .form__radio-visible:after {
          opacity: 1;
        }
        ~ .form__radio-title {
          color: $red;
          transition: 1s;
        }
      }
    }
    &-visible {
      background: #fff;
      width: rem(16px);
      height: rem(16px);
      border-radius: 50%;
      position: relative;
      margin-right: rem(10px);
      &:after {
        content: "";
        display: block;
        background: $red;
        width: rem(8px);
        height: rem(8px);
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0;
      }
    }
  }
  &__checkbox {
    display: flex;
    user-select: none;
    align-items: center;
    &-real {
      display: none;
      &:checked {
        ~ .form__checkbox-visible:after {
          opacity: 1;
        }
        ~ .form__checkbox-title {
          color: $red;
          transition: 1s;
        }
      }
    }
    &-visible {
      background: #fff;
      width: rem(16px);
      height: rem(16px);
      position: relative;
      margin-right: rem(10px);
      &:after {
        content: "";
        display: block;
        background: $red;
        width: rem(8px);
        height: rem(8px);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0;
      }
    }
  }
}
