.hamburger-menu-link {
  margin-left: rem(30px);
}
.hamburger-menu {
  width: rem(25px);
  height: rem(5px);
  background: #fff;
  position: relative;
  border-radius: rem(5px);
  margin: rem(10px) 0 rem(10px) 0;
  display: none;
  @include tablets {
    display: flex;
  }
  &:after,
  &:before {
    content: "";
    display: block;
    width: rem(25px);
    height: rem(5px);
    background: #fff;
    position: absolute;
    border-radius: rem(5px);
  }
  &:after {
    top: 100%;
    margin-top: rem(5px);
  }
  &:before {
    bottom: 100%;
    margin-bottom: rem(5px);
  }
}
