.hero {
  background: url(../img/bg/hero-bg.jpg) center center / cover no-repeat;
  &__container {
    display: flex;
    flex: 0.75;
    height: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__picture {
    margin-right: 11px;
    height: 100%;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
  }
  &__subtitle {
    font-size: 65px;
    font-family: 'Lifehack', sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 1.31;
    letter-spacing: -1.63px;
  }
}