.hero {
  background: url(../img/bg/hero-bg.jpg) center center / cover no-repeat;
  &__container {
    display: flex;
    flex: 0.75;
    height: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    @include tablets {
      flex-direction: column;
      text-align: center;
      padding: 0 10%;
    }
  }
  &__burger {
    margin-right: rem(11px);
    @include tablets {
      margin-right: 0;
    }
    &-img {
      max-width: 100%;
    }
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
  }
  &__subtitle {
    font-size: rem(65px);
    font-family: "Lifehack", sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 1.31;
    letter-spacing: rem(-1.63px);
    @include phones {
      font-size: rem(54px);
    }
  }
}
