.nav {
  margin-right: rem(10px);
  @include tablets {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__item:last-child .nav__link:after {
    display: none;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    font-size: rem(11.5px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 500;
    &:after {
      content: "";
      width: rem(4px);
      height: rem(4px);
      display: block;
      border-radius: 50%;
      background: #fff;
      margin: 0 rem(10px);
    }
  }
}
