.nav {
  margin-right: rem(15px);

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:last-child .nav__link:after {
    display: none;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      display: block;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background: #fff;
      margin: 0 rem(10px);
    }
  }
}